* {
  box-sizing: border-box;
}
body {
  background-image: url("../images/background.jpeg");
}
h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: coral;
}
h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: coral;
}
#gibbet {
  display: flex;
  width: 80%;
  height: 300px;
  margin: 0 auto;
  justify-content: center;
}
#word {
  display: flex;
  width: 80%;
  height: 50px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  color: coral;
}
#restart {
  color: coral;
  font-size: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  opacity: 0.5;
}
#board {
  font-size: 30px;
  color: coral;
  display: grid;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.letter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30px;
  border: 1px solid black;
}
#theme {
  opacity: 0.5;
}
